$color-staticBackBtn: #901C1C;
$color-staticTextBtn: #FFFFFF;
$color-primaryText:#D3573C;
$color-secondaryText:#901C1C;
$color-hoverBackBtn:#D3573C;
$color-prixJour:#757575;
$color-backLightbox:#FAFAFA;